<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- ОТКРЫТИЕ ссылки  HTTPS:// В ОТДЕЛЬНОЙ ВКЛАДКЕ -->
<a href={{ .Destination | safeURL }} {{ if strings.HasPrefix .Destination "mailto" -}} target=_blank {{end}} {{ if strings.HasPrefix .Destination "http" -}} target=_blank rel="noopener noreferrer" {{- end }}>{{ .PlainText | htmlEscape }}</a>

</a> карниз
</body>
</html>