<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <!-- ОТКРЫТИЕ ссылки  HTTPS:// В ОТДЕЛЬНОЙ ВКЛАДКЕ -->
        <a href="{{ .Destination | safeURL }}" {{ with .Title}} title="{{ . }}"
            {{ end }}{{ if or (strings.HasPrefix .Destination "http" )
            (strings.HasSuffix .Destination ".pdf" ) }} target="_blank"
            rel="noopener noreferrer" {{ end }}>{{ .Text }}</a>
    </body>

</html>